<p>
  <strong>Name:</strong>
  <%= @cform.name %>
</p>
 
<p>
  <strong>e-Mail:</strong>
  <%= @cform.email %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @cform.mobile %>
</p>

<%= link_to 'Back', cforms_path %>