<h3>Static Page</h3>
<div class="container dark" id="core_values" data-bg="values">
	<div class="inside">

		<h1>Our Core Values</h1>

		<ul>
			<li><a href="#question" class="question active"> <i></i> </a></li>
			<li><a href="#think" class="think"> <i></i> </a></li>
			<li><a href="#iterate" class="iterate"> <i></i> </a></li>
			<li><a href="#details" class="details"> <i></i> </a></li>
			<li><a href="#design" class="design"> <i></i> </a></li>
			<li><a href="#integrity" class="integrity"> <i></i> </a></li>
		</ul>

		<div class="tab-wrapper">
			<div class="tab active" id="question">

				<h3>Question Assumptions</h3>
				<p>True innovation and problem solving call us to question<br />everything, even our own bias.</p>

			</div> <!-- question -->

			<div class="tab" id="think">

				<h3>Think Deeply</h3>
				<p>Good design thinking considers the task at hand as well<br />as all the surrounding systems.</p>

			</div> <!-- question -->

			<div class="tab" id="iterate">

				<h3>Iterate as a Lifestyle</h3>
				<p>We push for perfection, but never at the expense<br />of progress.</p>

			</div> <!-- question -->

			<div class="tab" id="details">

				<h3>Details, Details</h3>
				<p>Whether you're working with pixels or code, details<br />will make the difference.</p>

			</div> <!-- question -->

			<div class="tab" id="design">

				<h3>Design is Everywhere</h3>
				<p>Everything in our life is designed and is the driving force<br />behind business and culture.</p>

			</div> <!-- question -->

			<div class="tab" id="integrity">

				<h3>Integrity</h3>
				<p>Say what you mean, mean what you say. Work hard<br />regardless of who is or isn't watching.</p>

			</div> <!-- question -->
		</div>

	</div>
</div>